body {
    margin: 0;
    padding: 0;
}
/*Header*/

.header {
    width: 1900px;
}

.logo {
   text-align: center;
   background-color: black;
}

.main {
    display: flex;
    width: 1900px;
    height: 3000px;
    
}

.main__sidebar {
    flex: 1 1 300px;
  
    height: 100%;
    background-color: yellow;
}

.main__content {
   
   flex: 3 1 1600px;
   height: 100%;
   background-color: black;
}

.main__elements {
    display: flex;
   
    flex-wrap: wrap;
    margin: 100px;
    margin-top: 200px;
}



.main__search {
    margin: 100px 500px 0 300px;
    width: 800px;
   position: relative;
}

.main__input {
    width: 100%;
    height: 50px;
}

.main__button {
    position: absolute;
    top: 0;
    right: -60px;
    height: 55px;
    width: 50px;
    cursor: pointer;
    background: url("img/search.jpg") no-repeat;
    background-size: contain;
}




.el {
    margin-right: 50px;
    position: relative;
    width: 200px;
    cursor: pointer;
}

.el:hover {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
     
        transform: scale(1.2);
        transition: 1s;
}


.el__img {
    width: 200px;
    height: 250px;
}

.el__rate {
    position: absolute;
    top: 5px;
    left: 10px;
    color:red;
    font-size: 24px;
}

.el__title {
    color: white;

}

.loading {

}




.modal {
    display: none;
   background-color: black;

}

.modal-overlay {
    

    
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
}

.modal-window {
    width: 520px;
    border-radius: 5px;
    background: black;
    margin: 100px auto ;
    height: 600px;
    position: relative;
}

.modal__main {
    display: flex;
    flex-direction: column;
}

.modal__content {
    margin-left: 20px;
}

.modal__popularity,.modal__title,.modal__genres,.modal__review,.modal__lang,.modal__homepage {
   color: white;
}

.modal__img {
    height: 250px;
    width: 500px;
    margin: 10px;
    margin-top: 40px;
}

.modal__close {
    position: absolute;
    top: 5px;
    right: 20px;
    width: 10px;
    cursor: pointer;
}